/* Fonts en typografie bij elkaar, kan je ze weghalen bij individuele elementen. */

/**********/
/* BANNER */
/**********/

section:nth-of-type(1) article:nth-of-type(1) {
	display: flex;
	flex-direction: column;
	position: relative;
    height: 35rem; 
    overflow: hidden;
}

section:nth-of-type(1) article:nth-of-type(1) img {
	height: 35rem;
	width: auto;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/***********************/
/* BANNER ONDERSCHRIFT */
/***********************/

section:nth-of-type(1) article:nth-of-type(2) {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

section:nth-of-type(1) article:nth-of-type(2) h2 {
	font-family: titelsFutura;
	text-transform: uppercase;
	font-size: 3rem;
    color: var(--main-txt-color);
	margin: 1rem;
}

section:nth-of-type(1) article:nth-of-type(2) p {
	font-family: Helvetica, arial, sans-serif;
	font-size: 1rem;
    color: var(--main-txt-color);
    padding: 1rem;
	margin: 0;
}

section:nth-of-type(1) article:nth-of-type(2) a {
    background-color: var(--button-bg-color);
    color: var(--button-txt-color);
    font-family: Helvetica, arial, sans-serif;
    text-decoration: none;


    padding: .7rem;
    border-radius: 3rem;
    margin: .5rem;
}

/*********************/
/* KORTING CARROUSEL */
/*********************/

section:nth-of-type(2) h2 {
	font-family: titelsFutura;
	text-transform: uppercase;
	font-size: 1.5rem;
	margin: 1rem;
}

section:nth-of-type(2) ul {
    display: flex;
    overflow-x: scroll;
    list-style-type: none;
    padding: 0;
}

section:nth-of-type(2) li {
    padding: .5em;
}

section:nth-of-type(2) li a {
    text-decoration: none;
}

section:nth-of-type(2) img {
    height: 20rem;
}

section:nth-of-type(2) h3 {
    font-family: Helvetica, arial, sans-serif;
	font-size: 1rem;
    color: var(--main-txt-color);
    margin: .5rem 0rem;
}

section:nth-of-type(2) h4 {
    font-family: Helvetica, arial, sans-serif;
	font-size: 1rem;
    color: var(--sec-txt-color);
    margin: .5rem 0rem;
}

section:nth-of-type(2) p:nth-of-type(1) {
    font-family: Helvetica, arial, sans-serif;
	font-size: 1rem;
    color: var(--main-txt-color);
    margin: .1rem 0rem;
}

section:nth-of-type(2) p:nth-of-type(2) {
    font-family: Helvetica, arial, sans-serif;
	font-size: 1rem;
    color: var(--sec-txt-color);
    text-decoration: line-through;
    margin: .1rem 0rem;

}

/*********************/
/* NET UIT CARROUSEL */
/*********************/

section:nth-of-type(3) h2 {
	font-family: Helvetica, arial, sans-serif;
	font-size: 1.5rem;
	margin: 1rem;
    font-weight: normal;
}

section:nth-of-type(3) ul {
    display: flex;
    overflow-x: scroll;
    list-style-type: none;
    padding: 0;
}

section:nth-of-type(3) li {
    padding: .5em;
}

section:nth-of-type(3) li a {
    text-decoration: none;
}

section:nth-of-type(3) img {
    height: 30rem;
}

section:nth-of-type(3) h3 {
    font-family: Helvetica, arial, sans-serif;
	font-size: 1.2rem;
    color: var(--main-txt-color);
    margin: .5rem 0rem;
    font-weight: normal;
}

/******************************/
/* SHOP ONZE ICONEN CARROUSEL */
/******************************/

section:nth-of-type(4) h2 {
	font-family: Helvetica, arial, sans-serif;
	font-size: 1.5rem;
	margin: 1rem;
    font-weight: normal;
}

section:nth-of-type(4) ul {
    display: flex;
    overflow-x: scroll;
    list-style-type: none;
    padding: 0;
}

section:nth-of-type(4) li {
    position: relative; 
    padding: .5em;
}

section:nth-of-type(4) li a {
    text-decoration: none;
}

section:nth-of-type(4) li img {
    height: 19.5rem;
}

section:nth-of-type(4) li h3 {
    font-family: Helvetica, arial, sans-serif;
    font-size: 1rem;
    color: var(--main-txt-color);
    font-weight: normal;

    position: absolute; 
    bottom: 2em; 
    left: 3em; 

    background-color: var(--main-bg-color);
    border-radius: 2em;
    padding: 0.5em 1em 0.5em;
}

section:nth-of-type(4) h3:hover {
    background-color: var(--trd-bg-color);
}

/*************************/
/* ONTDEK MEER CARROUSEL */
/*************************/

section:nth-of-type(5) h2 {
	font-family: Helvetica, arial, sans-serif;
	font-size: 1.5rem;
	margin: 1rem;
    font-weight: normal;
}

section:nth-of-type(5) ul {
    display: flex;
    overflow-x: scroll;
    list-style-type: none;
    padding: 0;
}

section:nth-of-type(5) li {
    position: relative; 
    padding: .5em;
}

section:nth-of-type(5) li a {
    text-decoration: none;
}

section:nth-of-type(5) li img {
    height: 25rem;
}

section:nth-of-type(5) li h3 {
    font-family: Helvetica, arial, sans-serif;
    font-size: 1rem;
    color: var(--main-txt-color);
    font-weight: normal;

    position: absolute; 
    bottom: 2em; 
    left: 3em; 

    background-color: var(--main-bg-color);
    border-radius: 2em;
    padding: 0.5em 1em 0.5em;
}

section:nth-of-type(5) h3:hover {
    background-color: var(--trd-bg-color);
}

/*****************************/
/* NIKE MEMBERSHIP CARROUSEL */
/*****************************/

section:nth-of-type(6) h2 {
	font-family: Helvetica, arial, sans-serif;
	font-size: 1.5rem;
	margin: 1rem;
    font-weight: normal;
}

section:nth-of-type(6) ul {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden; 
    list-style-type: none;
    padding: 0;
}

section:nth-of-type(6) li {
    padding: .5em;
    height: 22rem;
}

section:nth-of-type(6) li a {
    text-decoration: none;
    display: grid;
    width: 19.5rem;
    height: 19.5rem;


    grid-template-columns: 75% auto;
    grid-template-rows: repeat(5, 1fr);
}

section:nth-of-type(6) li img {
    grid-column: 1 / span 2;
    grid-row: 1 / span 5;

    width: 19.5rem;
    height: 19.5rem;
}

section:nth-of-type(6) h4 {
    font-family: Helvetica, arial, sans-serif;
    font-size: 1.4rem;
    color: var(--pic-text-color);
    font-weight: normal;
    padding: .5em;
    margin: 0;
    align-self: end;

    grid-column: 1 / span 1;
    grid-row: 3 / span 1; 
}

section:nth-of-type(6) h3 {
    font-family: Helvetica, arial, sans-serif;
    font-size: 1rem;
    color: var(--pic-text-color);
    font-weight: normal;
    padding: .5em;
    margin: 0;
    align-self: end;


    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

section:nth-of-type(6) li p {
    display: inline-block; 
    font-family: Helvetica, arial, sans-serif;
    font-size: 1rem;
    color: var(--main-txt-color);
    font-weight: normal;

    background-color: var(--main-bg-color);
    border-radius: 2em;
    padding: 0.5em 1em 0.5em;
    margin: 0.5em;

    grid-column: 1 / span 1;
    grid-row: 4 / span 1;

    justify-self: start; 
    align-self: center; 

}

section:nth-of-type(6) p:hover {
    background-color: var(--trd-bg-color);
}

/***********/
/* SITEMAP */
/***********/

section:nth-of-type(7) details{
    font-family: Helvetica, arial, sans-serif;
    font-size: 1.2rem;
    color: var(--main-text-color);
    font-weight: normal;
    padding: .8em .5em ;
}

section:nth-of-type(7) summary{
    list-style: none;
}

section:nth-of-type(7) ul{
    list-style: none;
}

section:nth-of-type(7) li{
    padding: .5em 0em;
}

section:nth-of-type(7) a{
    text-decoration: none;
    font-family: Helvetica, arial, sans-serif;
    font-size: .9rem;
    color: var(--sec-txt-color);
    font-weight: 580;
}

