/***********/
/* PRODUCT */
/***********/

section:nth-of-type(1) h1 {
	font-size: var(--font-size-xl);
    margin: 1rem;
    font-weight: 580;
    color: var(--main-txt-color);
	margin: 1rem;
    font-weight: normal;
    color: var(--main-txt-color);
}

section:nth-of-type(1) p {
	font-size: var(--font-size-m);
	margin: 1rem;
    font-weight: normal;
}

section:nth-of-type(1) p:nth-of-type(1) {
    color: var(--sec-txt-color);
}

section:nth-of-type(1) p:nth-of-type(2) {
    color: var(--main-txt-color);
}

/*************/
/* SLIDESHOW */
/*************/

section:nth-of-type(2) > h2 {
    display: none;
}

/* Slideshow */
section:nth-of-type(2) {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

section:nth-of-type(2) p {
	font-size: var(--font-size-s);
    font-weight: 580;
    color: var(--main-txt-color);
    display: flex;
    align-items: center;
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 2;
    margin: 1em;
    padding: 1em;
    background-color: var(--main-bg-color);
    border-radius: 50em;
}

section:nth-of-type(2) p img {
    width: 1rem;
    height: 1rem;
    object-fit: contain;
    margin: 0 0.5rem 0 0;
}

section:nth-of-type(2) > ul:nth-of-type(1){
    padding: 0;
    margin: 0;
    position: relative;
}

section:nth-of-type(2) > ul:nth-of-type(1) li {
    display: none;
}

section:nth-of-type(2) > ul:nth-of-type(1) li[data-visible="true"] {
    display: block;
}

section:nth-of-type(2) img {
    width: 100%;
    height: auto;
    display: block;
}

/* Navigation dots */
section:nth-of-type(2) > ul:nth-of-type(2) {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    padding: 5em;
    list-style: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    z-index: 1;
}

section:nth-of-type(2) > ul:nth-of-type(2) li {
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--main-txt-color);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.6s ease;
}

section:nth-of-type(2) > ul:nth-of-type(2) li[data-visible="true"],
section:nth-of-type(2) > ul:nth-of-type(2) li:hover {
    background-color: var(--sec-txt-color);
}

/* Animation */
.fade {
    animation: fade 1.5s;
}

@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}

/**********************/
/* WINKELMAND KNOPPEN */
/**********************/

section:nth-of-type(3) form {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

section:nth-of-type(3) form h2 {
	font-size: var(--font-size-m);
    margin: 0;
    font-weight: 580;
    color: var(--main-txt-color);
}

section:nth-of-type(3) form a {
    display: flex;
    align-items: center;
	font-size: var(--font-size-s);
    margin: 0;
    font-weight: normal;
    color: var(--main-txt-color);
    text-decoration: none;
}

section:nth-of-type(3) form a img {
    width: 1.5em;
    height: 1.5em;
    object-fit: contain;
    margin: 0 0.5rem 0 0;
}

/* Maat knoppen */

section:nth-of-type(3) form ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    align-content: stretch;
    padding: 1em 0;
    margin: 0;
    width: 100%;
}

section:nth-of-type(3) form li {
    display: flex; 
    justify-content: center; 
    align-items: center;
    padding: .2em;
    min-width: 15%;
    width: 25%;
}


section:nth-of-type(3) form li button {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 0.5rem;

	font-size: var(--font-size-m);
    width: 12rem;
    height: 3rem;
    padding: 0;
    background-color: var(--main-bg-color);
    border: 1px solid var(--sec-bg-color);
    border-radius: 5px;
}

section:nth-of-type(3) form li button:hover {
    border-color: var(--txt-bg-color);
}

/* Maat onderschrift */

section:nth-of-type(3) form p:nth-of-type(1) {
	font-size: var(--font-size-s);
    margin: 0;
    color: var(--sec-txt-color);
}

/**********************/
/* WINKELMAND KNOPPEN */
/**********************/

section:nth-of-type(3) form p:nth-of-type(2) {
    text-align: center;
    width: 100%;
}

section:nth-of-type(3) form p:nth-of-type(2) img{
    height: 1em;
}

/* Voeg toe knop */

section:nth-of-type(3) form > button:nth-of-type(1) {
	font-size: var(--font-size-m);
    width: 100%;
    height: 4rem;
    color: var(--main-bg-color);
    background-color: var(--main-txt-color);
    border: 1px solid var(--sec-bg-color);
    border-radius: 100px;
}

section:nth-of-type(3) form > button:nth-of-type(1):hover {
    background-color: var(--sec-txt-color);
}

/* Favoriet knop */

section:nth-of-type(3) form > button:nth-of-type(2) {
	font-size: var(--font-size-m);
    width: 100%;
    height: 4rem;
    color: var(--main-txt-color);
    background-color: var(--main-bg-color);
    border: 2px solid var(--sec-bg-color);
    border-radius: 100px;
    margin: 1em 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

section:nth-of-type(3) form > button:nth-of-type(2) img {
    width: 1.2em;
    height: 1.2em;
    margin: .5em;
}

section:nth-of-type(3) form > button:nth-of-type(2):hover {
    border-color: var(--main-txt-color);
}

/* Favoriet knop onderschrift */

section:nth-of-type(3) form p:nth-of-type(3) {
    text-align: center;
    color: var(--sec-txt-color);
    padding: 1em;
	font-size: var(--font-size-m);
    margin: 0;

}

section:nth-of-type(3) form > p:nth-of-type(4) {
	font-size: var(--font-size-m);
    font-weight: bold;
    color: var(--main-txt-color);
    width: 100%;

}

section:nth-of-type(3) form > button:nth-of-type(3) {
	font-size: var(--font-size-m);
    font-weight: bold;
    background-color: transparent;
    border-color: var(--main-txt-color);
    border-width: 0 0 2px;
    text-align: left;
    padding: 0 0 .3em;
    cursor: pointer;
    width: fit-content;
}

section:nth-of-type(3) form > p:nth-of-type(5) {
	font-size: var(--font-size-s);
    color: var(--sec-txt-color);
    width: 100%;
}

/****************/
/* OMSCHRIJVING */
/****************/

section:nth-of-type(4) {
	font-size: var(--font-size-m);
    padding: 1em;
}

section:nth-of-type(4) p {
    margin: 0;
}

section:nth-of-type(4) button {
	font-size: var(--font-size-m);
    font-weight: bold;
    background-color: transparent;
    border-width: 0;
    text-align: left;
    padding: 0;
    text-decoration: underline;
    cursor: pointer;
}

/********************/
/* EXTRA INFORMATIE */
/********************/

section:nth-of-type(5) details:nth-of-type(1) summary,
section:nth-of-type(5) details:nth-of-type(2) summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0em;
    margin: 0 1em 0 1em;

    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: var(--sec-bg-color);

    text-decoration: none;
	font-size: var(--font-size-l);
    color: var(--main-txt-color);
    font-weight: 580;
}

section:nth-of-type(5) details:nth-of-type(1) summary::after,
section:nth-of-type(5) details:nth-of-type(2) summary::after {
    content: '';
    width: 18px;
    height: 18px;
    background: url('../images/icons/down.png') no-repeat;
    background-size: 100%;
    transition: 0.2s;
}

section:nth-of-type(5) details[open]:nth-of-type(1) > summary::after,
section:nth-of-type(5) details[open]:nth-of-type(2) > summary::after,
section:nth-of-type(5) details[open]:nth-of-type(3) > summary::after
{
  transform: rotate(180deg);
}

section:nth-of-type(5) details:nth-of-type(1),
section:nth-of-type(5) details:nth-of-type(2){
	font-size: var(--font-size-m);
}

section:nth-of-type(5) details:nth-of-type(2) p{
    margin: 1em;
}

section:nth-of-type(5) details:nth-of-type(1) a,
section:nth-of-type(5) details:nth-of-type(2) a{
    color: var(--main-txt-color);
    text-decoration: none;
    font-weight: bold;
}

section:nth-of-type(5) details:nth-of-type(2) p{
    margin: 1em;
}

/* REVIEWS */

section:nth-of-type(5) details:nth-of-type(3) summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0em;
    margin: 0 1em 0 1em;

    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: var(--sec-bg-color);

    text-decoration: none;
	font-size: var(--font-size-l);
    color: var(--main-txt-color);
    font-weight: 580;
}

section:nth-of-type(5) details:nth-of-type(3) summary img {
    height: 1rem;
    object-fit: contain;
    margin-left: auto;
    margin-right: .5em;
}

section:nth-of-type(5) details:nth-of-type(3) summary::after {
    content: '';
    width: 18px;
    height: 18px;
    background: url('../images/icons/down.png') no-repeat;
    background-size: 100%;
    transition: 0.2s;
}

section:nth-of-type(5) details:nth-of-type(3) > img:first-of-type {
    display: inline-block;
    height: 1rem;
    margin: 1em 0.5em 1em 1em;
    vertical-align: middle;
}

section:nth-of-type(5) details:nth-of-type(3) > img:first-of-type + p {
    display: inline-block;
    margin: 1em 1em 1em 0;
    vertical-align: middle;
}

section:nth-of-type(5) details:nth-of-type(3) a {
    display: block;
    color: var(--main-txt-color);
    font-weight: bold;
    margin: 0 1em 2em;
}

section:nth-of-type(5) details:nth-of-type(3) ul {
    list-style: none;
    padding: 0 1em;
    margin: 0;
}

section:nth-of-type(5) details:nth-of-type(3) li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

section:nth-of-type(5) details:nth-of-type(3) li h3 {
	font-size: var(--font-size-m);
    color: var(--main-txt-color);
    font-weight: 580;
    width: 100vw;
}

section:nth-of-type(5) details:nth-of-type(3) li img {
    padding: 0;
    height: 1rem;
}

section:nth-of-type(5) details:nth-of-type(3) li p:nth-of-type(1) {
	font-size: var(--font-size-s);
    color: var(--sec-txt-color);
}

section:nth-of-type(5) details:nth-of-type(3) li p:nth-of-type(2) {
	font-size: var(--font-size-m);
    color: var(--sec-txt-color);
}

section:nth-of-type(5) details:nth-of-type(3) button {
	font-size: var(--font-size-m);
    font-weight: bold;
    background-color: transparent;
    border-width: 0;
    text-align: left;
    padding: 1em;
    text-decoration: underline;
    cursor: pointer;
}



/**************************/
/* HOE ANDEREN HET DRAGEN */
/**************************/


section:nth-of-type(6) {
    padding: 1em;
}

section:nth-of-type(6) h2 {
	font-size: var(--font-size-xl);
    color: var(--main-txt-color);
    font-weight: 580;
}

section:nth-of-type(6) p {
	font-size: var(--font-size-m);
    color: var(--sec-txt-color);
    font-weight: 580;
}

section:nth-of-type(6) button {
	font-size: var(--font-size-m);
    color: var(--main-txt-color);
    background-color: transparent;
    border: 2px solid var(--sec-bg-color);
    border-radius: 100px;
    padding: .5em 1.5em .5em;
    margin: 1em 0 0 0;
}

section:nth-of-type(6) button:hover {
    border-color: var(--main-txt-color);
}

/*******************/
/* MAAK DE LOOK AF */
/*******************/

section:nth-of-type(7) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 1rem;
}

section:nth-of-type(7) h2 {
	font-size: var(--font-size-xl);
    margin: 1rem;
    font-weight: normal;
}

section:nth-of-type(7) > button {
    align-items: center;
    display: flex;
    border: none;
    background: var(--trd-bg-color);
    padding: .8rem;
    margin: .5rem;
    cursor: pointer;
    border-radius: 5em;
}

section:nth-of-type(7) > button:nth-of-type(1)  {
    margin-left: auto;
}

section:nth-of-type(7) > button:nth-of-type(2)  {
    margin-right: 0;
}


section:nth-of-type(7) > button > img {
    width: 1rem;
    height: 1rem;
}

section:nth-of-type(7) ul {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    list-style-type: none;
    padding: 0;
    height: 30rem;
    overflow-y: hidden;
}

section:nth-of-type(7) ul > li > ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    height: 30rem; 
    width: 20rem; 
    margin: 1em;
    background-color: var(--sec-bg-color);
    padding: 2rem;
}

section:nth-of-type(7) ul > li > ul > li:nth-of-type(1) {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    align-self: start;
    z-index: 2;
}

section:nth-of-type(7) ul > li > ul > li:nth-of-type(2) {
    grid-column: 1;
    grid-row: 1;
    align-self: start;
    z-index: 4;
}

section:nth-of-type(7) ul > li > ul > li:nth-of-type(3) {
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
    align-self: start;
    z-index: 2;
}

section:nth-of-type(7) ul > li > ul > li:nth-of-type(4) {
    grid-column-start: 3;
    grid-row: 1;
    align-self: start;
    z-index: 4;
}

section:nth-of-type(7) ul > li > ul > li:nth-of-type(5) {
    grid-column: 2 / span 2;
    grid-row: 3 / span 2;
    align-self: center;
    z-index: 2;
}

section:nth-of-type(7) ul > li > ul > li:nth-of-type(6) {
    grid-column: 2;
    grid-row: 3;
    align-self: end;
    z-index: 4;
}

section:nth-of-type(7) ul > li > ul > li:nth-of-type(7) {
    grid-column: 1 / span 2;
    grid-row: 4 / span 1;
    align-self: center;
    z-index: 3;
}

section:nth-of-type(7) ul > li > ul > li:nth-of-type(8) {
    grid-column: 1 / span 2;
    grid-row: 4 / span 1;
    align-self: center;
    z-index: 4;
}

section:nth-of-type(7) ul > li > ul > li:nth-of-type(9) {
    grid-column: 3 / span 2;
    grid-row: 4 / span 1;
    align-self: end;
    z-index: 3;

}

section:nth-of-type(7) ul > li > ul > li:nth-of-type(10) {
    grid-column: 1 / span 4;
    grid-row: 5;
    align-self: end;
    z-index: 2;
}

section:nth-of-type(7) ul > li > ul > li:nth-of-type(2),
section:nth-of-type(7) ul > li > ul > li:nth-of-type(4),
section:nth-of-type(7) ul > li > ul > li:nth-of-type(6),
section:nth-of-type(7) ul > li > ul > li:nth-of-type(8) {
    background-color: var(--main-bg-color);
    padding: .5em;
    border-radius: 1em;
    width: .1em;
    height: .1em;
}

section:nth-of-type(7) ul > li > ul:hover > li:nth-of-type(2),
section:nth-of-type(7) ul > li > ul:hover > li:nth-of-type(4),
section:nth-of-type(7) ul > li > ul:hover > li:nth-of-type(6),
section:nth-of-type(7) ul > li > ul:hover > li:nth-of-type(8),
section:nth-of-type(7) ul > li > ul > li:nth-of-type(2):hover,
section:nth-of-type(7) ul > li > ul > li:nth-of-type(4):hover,
section:nth-of-type(7) ul > li > ul > li:nth-of-type(6):hover,
section:nth-of-type(7) ul > li > ul > li:nth-of-type(8):hover {
    border-width: 3px;
    border-style: solid;
    border-color: var(--sec-txt-color);
}

section:nth-of-type(7) ul > li > ul:hover button p {
    margin: 0;
    display: block; 
    padding-right: .5em;
}


section:nth-of-type(7) ul > li > ul > li:nth-of-type(2) a,
section:nth-of-type(7) ul > li > ul > li:nth-of-type(4) a,
section:nth-of-type(7) ul > li > ul > li:nth-of-type(6) a,
section:nth-of-type(7) ul > li > ul > li:nth-of-type(8) a {
    display: none;
    background-color: var(--main-bg-color);
    padding: 1em;
    text-decoration: none;
}

section:nth-of-type(7) ul > li > ul > li:nth-of-type(2):hover a,
section:nth-of-type(7) ul > li > ul > li:nth-of-type(4):hover a,
section:nth-of-type(7) ul > li > ul > li:nth-of-type(6):hover a,
section:nth-of-type(7) ul > li > ul > li:nth-of-type(8):hover a {
    display: block;
    min-width: 9rem;
    border-radius: 0.5em;
    box-shadow: .1em var(--main-txt-color);
}

section:nth-of-type(7) li > ul > li > a > h3 {
    color: var(--main-txt-color);
	font-size: var(--font-size-xs);
    margin: 0;
}

section:nth-of-type(7) li > ul > li > a > p:nth-of-type(1) {
    color: var(--sec-txt-color);
	font-size: var(--font-size-xs);
    padding: .5em 0;
    margin: 0;
}

section:nth-of-type(7) li > ul > li > a > p:nth-of-type(2) {
    color: var(--main-txt-color);
	font-size: var(--font-size-l);
    margin: 0;
}

section:nth-of-type(7) li > ul li a img {
    max-width: 100%;
    padding: 1rem;
}


section:nth-of-type(7) li > ul button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    background: var(--main-bg-color);
    border: none;
    padding: .5em;
    border-radius: 10em;
    cursor: pointer;
    margin: 1em;
}

section:nth-of-type(7) li > ul button:hover {
    background: var(--trd-bg-color);
}

section:nth-of-type(7) li > ul button img {
    width: 1.5em;
    margin: .5em;
}

section:nth-of-type(7) li > ul button p {
    margin: 0;
    display: none;
}

/*********************************/
/* MISSCHIEN VIND JE DIT OOK LEUK*/
/*********************************/

section:nth-of-type(8) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 1rem;
}

section:nth-of-type(8) h2 {
	font-size: var(--font-size-xl);
	margin: 1rem;
    font-weight: normal;
}

section:nth-of-type(8) > button {
    align-items: center;
    display: flex;
    border: none;
    background: var(--trd-bg-color);
    padding: .8rem;
    margin: .5rem;
    cursor: pointer;
    border-radius: 5em;
}

section:nth-of-type(8) > button:nth-of-type(1)  {
    margin-left: auto;
}

section:nth-of-type(8) > button:nth-of-type(2)  {
    margin-right: 0;
}


section:nth-of-type(8) > button > img {
    width: 1rem;
    height: 1rem;
}

section:nth-of-type(8) > ul {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    list-style-type: none;
    padding: 0;
}

section:nth-of-type(8) li {
    padding: .5em;
}

section:nth-of-type(8) li a {
    text-decoration: none;
}

section:nth-of-type(8) img {
    height: 20rem;
}

section:nth-of-type(8) h3 {
	font-size: var(--font-size-m);
    color: var(--main-txt-color);
    margin: .5rem 0rem;
}

section:nth-of-type(8) h4 {
	font-size: var(--font-size-m);
    color: var(--sec-txt-color);
    margin: .5rem 0rem;
}

section:nth-of-type(8) p:nth-of-type(1) {
	font-size: var(--font-size-m);
    color: var(--main-txt-color);
    margin: .1rem 0rem;
}

section:nth-of-type(8) p:nth-of-type(2) {
	font-size: var(--font-size-m);
    color: var(--sec-txt-color);
    text-decoration: line-through;
    margin: .1rem 0rem;
}

/* Auto Mode */
@media (prefers-color-scheme: dark) {
    :root:has([value="auto"]:checked) section:nth-of-type(2) p img {
        content: url(../images/icons/darkMode/starsingleDark.png);
    }
    :root:has([value="auto"]:checked) section:nth-of-type(3) form a img {
        content: url(../images/icons/darkMode/sizeDark.png);
    }
    :root:has([value="auto"]:checked) section:nth-of-type(3) form p:nth-of-type(2) img{
        content: url(../images/icons/darkMode/klarnaDark.png);
    }
    :root:has([value="auto"]:checked) section:nth-of-type(3) form > button:nth-of-type(2) img {
        content: url(../images/icons/darkMode/heartDark.png);
    }
    :root:has([value="auto"]:checked) section:nth-of-type(5) details:nth-of-type(3) summary img {
        content: url(../images/icons/darkMode/starDark.png);
    }
    :root:has([value="auto"]:checked) section:nth-of-type(5) details:nth-of-type(3) > img:first-of-type {
        content: url(../images/icons/darkMode/starDark.png);
    }
    :root:has([value="auto"]:checked) section:nth-of-type(5) details:nth-of-type(3) li img {
        content: url(../images/icons/darkMode/starDark.png);
    }
    :root:has([value="auto"]:checked) section:nth-of-type(5) details:nth-of-type(1) summary::after {
        background-image: url(../images/icons/darkMode/downDark.png);
    }
    :root:has([value="auto"]:checked) section:nth-of-type(5) details:nth-of-type(2) summary::after {
        background-image: url(../images/icons/darkMode/downDark.png);
    }
    :root:has([value="auto"]:checked) section:nth-of-type(5) details:nth-of-type(3) summary::after {
        background-image: url(../images/icons/darkMode/downDark.png);
    }
    :root:has([value="auto"]:checked) section:nth-of-type(7) li > ul button img {
        content: url(../images/icons/darkMode/eyeDark.png);
    }
}

/* Light Mode */
:root:has([value="light"]:checked) section:nth-of-type(2) p img {
    content: url(../images/icons/starsingle.png);
}
:root:has([value="light"]:checked) section:nth-of-type(3) form a img {
    content: url(../images/icons/size.png);
}
:root:has([value="light"]:checked) section:nth-of-type(3) form p:nth-of-type(2) img {
    content: url(../images/icons/klarna.png);
}
:root:has([value="light"]:checked) section:nth-of-type(3) form > button:nth-of-type(2) img {
    content: url(../images/icons/heart.png);
}
:root:has([value="light"]:checked) section:nth-of-type(5) details:nth-of-type(3) summary img {
    content: url(../images/icons/star.png);
}
:root:has([value="light"]:checked) section:nth-of-type(5) details:nth-of-type(3) > img:first-of-type {
    content: url(../images/icons/star.png);
}
:root:has([value="light"]:checked) section:nth-of-type(5) details:nth-of-type(3) li img {
    content: url(../images/icons/star.png);
}
:root:has([value="light"]:checked) section:nth-of-type(5) details:nth-of-type(1) summary::after {
    background-image: url(../images/icons/down.png);
}
:root:has([value="light"]:checked) section:nth-of-type(5) details:nth-of-type(2) summary::after {
    background-image: url(../images/icons/down.png);
}
:root:has([value="light"]:checked) section:nth-of-type(5) details:nth-of-type(3) summary::after {
    background-image: url(../images/icons/down.png);
}
:root:has([value="light"]:checked) section:nth-of-type(7) li > ul button img {
    content: url(../images/icons/eye.png);
}

/* Dark Mode */
:root:has([value="dark"]:checked) section:nth-of-type(2) p img {
    content: url(../images/icons/darkMode/starsingleDark.png);
}
:root:has([value="dark"]:checked) section:nth-of-type(3) form a img {
    content: url(../images/icons/darkMode/sizeDark.png);
}
:root:has([value="dark"]:checked) section:nth-of-type(3) form p:nth-of-type(2) img{
    content: url(../images/icons/darkMode/klarnaDark.png);
}
:root:has([value="dark"]:checked) section:nth-of-type(3) form > button:nth-of-type(2) img {
    content: url(../images/icons/darkMode/heartDark.png);
}
:root:has([value="dark"]:checked) section:nth-of-type(5) details:nth-of-type(3) summary img {
    content: url(../images/icons/darkMode/starDark.png);
}
:root:has([value="dark"]:checked) section:nth-of-type(5) details:nth-of-type(3) > img:first-of-type {
    content: url(../images/icons/darkMode/starDark.png);
}
:root:has([value="dark"]:checked) section:nth-of-type(5) details:nth-of-type(3) li img {
    content: url(../images/icons/darkMode/starDark.png);
}
:root:has([value="dark"]:checked) section:nth-of-type(5) details:nth-of-type(1) summary::after {
    background-image: url(../images/icons/darkMode/downDark.png);
}
:root:has([value="dark"]:checked) section:nth-of-type(5) details:nth-of-type(2) summary::after {
    background-image: url(../images/icons/darkMode/downDark.png);
}
:root:has([value="dark"]:checked) section:nth-of-type(5) details:nth-of-type(3) summary::after {
    background-image: url(../images/icons/darkMode/downDark.png);
}
:root:has([value="dark"]:checked) section:nth-of-type(7) li > ul button img {
    content: url(../images/icons/darkMode/eyeDark.png);
}

/* LGBTQ+ */
:root:has([value="gay"]:checked) section:nth-of-type(2) p img {
    content: url(../images/icons/darkMode/starsingleDark.png);
}
:root:has([value="gay"]:checked) section:nth-of-type(3) form a img {
    content: url(../images/icons/darkMode/sizeDark.png);
}
:root:has([value="gay"]:checked) section:nth-of-type(3) form p:nth-of-type(2) img{
    content: url(../images/icons/darkMode/klarnaDark.png);
}
:root:has([value="gay"]:checked) section:nth-of-type(3) form > button:nth-of-type(2) img {
    content: url(../images/icons/darkMode/heartDark.png);
}
:root:has([value="gay"]:checked) section:nth-of-type(5) details:nth-of-type(3) summary img {
    content: url(../images/icons/darkMode/starDark.png);
}
:root:has([value="gay"]:checked) section:nth-of-type(5) details:nth-of-type(3) > img:first-of-type {
    content: url(../images/icons/darkMode/starDark.png);
}
:root:has([value="gay"]:checked) section:nth-of-type(5) details:nth-of-type(3) li img {
    content: url(../images/icons/darkMode/starDark.png);
}
:root:has([value="gay"]:checked) section:nth-of-type(5) details:nth-of-type(1) summary::after {
    background-image: url(../images/icons/darkMode/downDark.png);
}
:root:has([value="gay"]:checked) section:nth-of-type(5) details:nth-of-type(2) summary::after {
    background-image: url(../images/icons/darkMode/downDark.png);
}
:root:has([value="gay"]:checked) section:nth-of-type(5) details:nth-of-type(3) summary::after {
    background-image: url(../images/icons/darkMode/downDark.png);
}
:root:has([value="gay"]:checked) section:nth-of-type(7) li > ul button img {
    content: url(../images/icons/darkMode/eyeDark.png);
}


:root:has([value="gay"]:checked) section:nth-of-type(3) form li button {
    background-color: var(--button-bg-color);
    color: var(--button-txt-color);
}